<%- include('./show-user-modal.ejs'); %>

<div class="modal-wrapper" id="add-user-modal">
  <div class="modal">
    <a href="#" onclick="closeModal()" class="modal-close">+</a>
    <div class="modal-title">
      <h2>Create New User</h2>
    </div>
    <div class="modal-body">
      <form
        id="add-user-form"
        method="post"
        action="/users"
        enctype="multipart/form-data"
      >
        <input type="text" placeholder="enter name" name="name" />
        <p class="error name-error"></p>

        <input type="text" placeholder="enter email" name="email" />
        <p class="error email-error"></p>

        <input type="text" placeholder="enter mobile" name="mobile" />
        <p class="error mobile-error"></p>

        <input type="password" placeholder="enter password" name="password" />
        <p class="error password-error"></p>

        <input type="file" name="avatar" />
        <p class="error avatar-error"></p>

        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</div>
<script>
  const modal = document.querySelector("#add-user-modal");
  const form = document.querySelector("#add-user-form");
  const successToast = Toastify({
    text: "User Create  Successfully",
    duration: 1000,
  });

  const removeToast = Toastify({
    text: "User Delete Successfully",
    duration: 1000,
  });

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const errPlace = document.querySelectorAll("p");
    const inputError = document.querySelectorAll("input");

    inputError.forEach((element) => {
      element.classList.remove("error");
    });
    errPlace.forEach((element) => {
      element.style.display = "none";
    });

    const formData = new FormData(form);
    let response = await fetch("/users", {
      method: "POST",
      body: formData,
    });

    const result = await response.json();
    if (result.errors) {
      console.log(result.errors);
      Object.keys(result.errors).forEach((fieldName) => {
        form[fieldName].classList.add("error");
        const errorPlaceHolder = document.querySelector(`.${fieldName}-error`);
        errorPlaceHolder.innerHTML = result.errors[fieldName].msg;
        errorPlaceHolder.style.display = "block";
      });
    } else {
      successToast.showToast();
      closeModal();
      document.querySelector("p.error").style.display = "none";
      setTimeout(() => {
        location.reload();
      }, 1000);
    }
  });
  function closeModal() {
    modal.style.display = "none";
  }
  function openModal() {
    modal.style.display = "block";
  }

  async function manageUser(id) {
    try {
      const response = await fetch(`/users/${id}`, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
        },
      });

      if (!response.ok) {
        throw new Error(`Error: ${response.statusText}`);
      }

      // Optionally, remove the user from the DOM after successful deletion
      document.getElementById(id).remove();
      console.log("User deleted successfully");
      removeToast.showToast();
    } catch (error) {
      console.error("Failed to delete user:", error);
    }
  }
</script>
